body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* container paling luar */
.outer-container-logres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82.5vh;
    min-height: 70vh;
    max-height: 81vh;
}

/* -------------------------------------------------------------------------------- */
/* container box login */
.container-logres {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 50vh; */
    min-width: 70vw;
    border-radius: 10px;
}

.default-container-logres {
    display: flex;
}

.popup-container-logres {
    display: none;
}

.popup-logres {
    display: flex;
    flex-direction: column;
    width: 40vw;
    /* height: 35vh; */
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    background-color: white;
}

.popup-login-container-logres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding: 20px 15px 20px 15px;
    font-size: large;
}

/* container buat judul loginnya */
.login-container-logres {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: rgb(241, 243, 245);
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: rgb(210, 212, 214);
    border-radius: 5px 5px 0px 0px;
}

    .login-container-logres p {
        padding-left: 20px; /*kiriin loginnya*/
        padding-top: 10px;
        padding-bottom: 10px;
    }

/* ini container bawah */
.credential-container-logres {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* flex-grow: 1; */
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid rgb(210, 212, 214);
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(248, 250, 252);
}

/* container bawah bagian kiri */
.left-credential-logres {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* background-color: red; */
    width: 40%;
    padding: 20px;
    gap: 30px;
}

/* container bawah bagian kanan (isi input, checkbox, button)*/
.right-credential-logres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green; */
    width: 60%;
    padding-top: 10px;
    padding-left: 10px;
}

    /* ini bagian input boxnya */
    .right-credential-logres form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }

/* ini block yang email & password */
.input-form-logres {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    gap: 10px;
}

    .input-form-logres input {
        padding: 9px 0px 9px 0px;
        border-radius: 6px;
        border: 2px solid rgb(210, 212, 214);
    }

/* ini block yang remember me */
.remember-logres {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}

#remember-me {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.submit-logres {
    background-color: blue;
    color: white;
}

.submit-password-logres button {
    background-color: rgb(11, 110, 253);
    /* color: white; */
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

@media (max-width: 600px) {
    .container-logres {
        font-size: 11px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .login-container-logres p {
        font-size: 16px;
        padding-left: 15px;
    }

    .input-form-logres {
        max-width: 90%;
    }

        .input-form-logres input {
            padding: 5px 0px 5px 0px;
            border-radius: 6px;
        }

    .left-credential-logres {
        padding-left: 0;
        padding-right: 0;
        width: 30%;
        gap: 25px;
    }

    .submit-password-logres button {
        padding: 5px 10px 5px 10px;
    }
}
