@page
@model WearHouse.Pages.aboutUsModel
@{
    ViewData["Title"] = "WearHouse";
}
<div class="container-about">
    <h1>About Us</h1>
    <div class="detail-container-about">
        <div class="top-about">
            <p>
                WearHouse is a fast fashion brand that was founded in 2019. wearHouse aims to provide affordable, high
                quality, trendy, and easy-to-access fashion apparels. To fullfil our goals, we have opened more than 100
                stores in various vities across Indonesia. We have a commitment to make each of our product available in
                every store, with equal price tags and build qualities regardless of location.
            </p>
        </div>
        <div class="bottom-about">
            <h2>Contact Us</h2>
            <p>Phone: (021) 12345</p>
            <p>Email: support@wearhouse.com</p>
        </div>
    </div>
</div>
