@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content-container-dashboard">
    <div class="table-all-dashboard">
        <div class="title-container-dashboard">
            <p>Dashboard</p>
        </div>
        <div class="detail-container-dashboard">
            <p>You are logged in!</p>
        </div>
    </div>
</div>

